body{
    font-family: "Times New Roman", Times, serif;
}
.ag-theme-alpine {
  height: 400px;  
  width: 100%;   
}
@import "~ag-grid-community/styles/ag-grid.css";
@import "~ag-grid-community/styles/ag-theme-alpine.css"; 
